<section id="" class="">
  <div class="container">
    <header class="">
      <h2>Technologies</h2>
      <p>Something</p>
    </header>
    <div class="">
      <div class="row">
        <section class="">
          <img class="icon" src="./../../../assets/img/angular-icon.png" />
          <h3>Angular</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
        <section class="">
          <img class="icon" src="./../../../assets/img/ts-icon.png"/>
          <h3>TypeScript</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
        <section class="">
          <img
            class="icon"
            src="./../../../assets/img/js-icon(2).png"
          />
          <h3>JavaScript</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
        <section class="">
          <img
            class="icon"
            src="./../../../assets/img/bootstrap-icon.png"
          />
          <h3>Bootstrap</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
        <section class="">
          <img class="icon" src="/images/"/>
          <h3>Odio laoreet accumsan</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
        <section class="">
          <img class="icon" src="/images/"/>
          <h3>Massa arcu accumsan</h3>
          <p>
            Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci
            porttitor.
          </p>
        </section>
      </div>
    </div>
    <footer class="">
      <ul class="">
        <li><a href="#" class="button">Something</a></li>
      </ul>
    </footer>
  </div>
</section>
