.container {
  background-color: #1a1b24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4em;
}

header {
  text-align: center;
  margin: 3em 0;
}

header > h2 {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 2.2em;
}

header > p {
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 1.2em;
}

.separator-line{
  background-color: #E44C65;
  height: .1em;
  width: 25em;
  margin: 3em 0 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: center;
  margin: 2em;
}

.row > section {
  text-align: center;
  width: 28%;
  color: #ffffff;
  padding-top: 2.5em;
  box-sizing: border-box;
  vertical-align: baseline;
  text-align: center;
}

.row > section > h3 {
  font-weight: 300;
  margin: 0 0 1em 0;
}

.row > section > p {
  font-weight: 100;
}

.icon {
  background: #272833;
  border-radius: 100%;
  display: inline-block;
  height: 6em;
  width: 6em;
  line-height: 5.65em;
  margin: 0 0 2em 0;
}



@media screen and (max-width: 980px) {
  .row > section {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .row > section {
    width: 100%;
  }
}
