<footer id="footer">
  <ul class="icons">
    <li class="social-link">
      <a target="_blank" href="https://www.linkedin.com/in/ignaciogarciareyna/"
        ><img
          src="./../../../assets/img/linkedin-icon-white.png"
          class="social-icon"
      /></a>
    </li>
    <li class="social-link">
      <a target="_blank" href="https://github.com/IgnacioGarciaReyna"
        ><img
          src="./../../../assets/img/github-icon-white.png"
          class="social-icon"
      /></a>
    </li>
    <li class="social-link">
      <a href="#"
        ><img src="./../../../assets/img/mail-icon.png" class="social-icon"
      /></a>
    </li>
  </ul>
</footer>
