.main-section {
  background-image: url(./../../../assets/img/exterior2.jpg);
}

.section-container {
  height: 100%;
  top: 0;
  right: 0;
  width: 28em;
  border-left-width: 0.35em;
  border-color: #e44c65;
}
